@import "../../assets/veriables.scss";

.featured-container {
    width: 100%;
    .featured-bar {
        max-width: 1200px;
        width: 100%;
        border: 1px solid #f2e5da;
        background-color: #fffaf6;
        border-radius: 6px;
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 25px;
        height: auto;
        display: flex;
        flex-direction: column;
        p {
            text-align: start;
            padding: 0px 15px;
            font-size: 22px;
            font-weight: 700;
            color: #333;
            font-family: $font;
        }
        .slider-bar {
            height: 296px;
            .slider1 {
                height: 296px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
.carousel{
    ul{
        li{
            padding: 0px 28px;
        }
    }
}
.product-card {
    width: 240px;
    
    display: flex;
    flex-direction: column;
    border: 1px solid #f2e5da;
    padding: 0px 40px;
    cursor: pointer;
    height: 265px;
    background-color: white;
    justify-content: space-between;
    .product-image {
        display: flex;

        padding: 15px;
        transition: transform 1s ease;
        &:hover {
            transform: scale(1.01);
        }
        img {
            width: 130px;
            width: 130px;
            margin: 0px auto;
            object-fit: contain;
            transition: transform 1s ease;
            &:hover {
                transform: scale(1.01);
            }
        }
    }
    .product-name1 {
        text-align: start;
        font-size: 14px;
        font-family: $font;
        text-overflow: ellipsis;
        width: 175px;
        overflow: hidden;
        height: 20px;
    }
    .product-name {
        text-align: start;
        font-size: 14px;
        font-weight: 800;
        font-family: $font;
    }
    .product-details {
        display: flex;
        flex-direction: column;

        position: absolute;
        width: 100%;
        height: 100%;
        .product-like {
            display: flex;
            justify-content: center;
            margin-left: 50px;
            padding: 10px 0px;
            .icon-div {
                width: 25px;
                height: 25px;
                border: 1px solid #d3d3d3;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: white;
            }
            .like-icon {
                &:hover {
                    color: $main-color;
                }
            }
        }
        .product-cargo {
            height: auto;
            .cargo {
                display: flex;
                align-items: center;
                padding: 0 !important;
                margin-left: -8px;
                margin-top: 19px !important;
                border-radius: 3px;
                font-size: 10px !important;
                width: 56px !important;
                height: 28px !important;
                box-sizing: border-box;
                background-color: #535353;

                .cargo-text {
                    padding: 5px 5px;
                    color: white;
                    font-weight: 700;
                }
            }
        }
    }

    .product-sale {
        display: flex;
        flex-direction: column;
        top: 75px;
        position: absolute;
        width: 100%;
        height: 100%;
        .product-sale-icon {
            height: auto;
            .sale {
                display: flex;
                padding-left: 1px;
                font-size: 10px !important;
                box-sizing: border-box;
                img {
                    width: 35px !important;
                    object-fit: contain;
                }
            }
        }
    }

    .product-price {
        display: flex;
        .price {
            color: $main-color;
            font-weight: 700;
            padding: 15px 0px;
        }
    }
}

.carousel button {
    background-color: #d3d3d3 !important;
    &:hover {
        background-color: #d3d3d3 !important;
    }
}
