@import "../../assets/veriables.scss";

.favorite-header-container {
    width: 100%;
    margin-top: 115px;
    border-bottom: 1px solid $border-gray;
    .favorite-header-bar {
        max-width: 1080px;
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        .favorite-header-left {
            display: flex;
            gap : 25px;
            .favorite-title {
                display: flex;
                align-items: center;
                color: $main-color;
                cursor: pointer;
                border-bottom: 3px solid $main-color;
                height: 70px;
                gap: 8px;
                span {
                    font-size: 18px;
                    font-family: $font;
                }
            }
            .favorite-bookmark {
                display: flex;
                align-items: center;
                color: #666;
                cursor: pointer;
                height: 70px;
                gap: 8px;
                transition: all ease 0.3s;
                &:hover{
                    color: $main-color;
                }
                span {
                    font-size: 18px;
                    font-family: $font;
                }
                div{
                    background-color: #ec1c36;
                    width: 40px;
                    height: 20px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    font-family: $font;
                    font-size: 12px;
                    border-radius: 5px;
                }
            }
        }
        .favorite-header-right {
            display: flex;
            align-items: center;
            .search-comp {
                max-width: 698px;
                width: 100%;
                .header-search-bar {
                    max-width: 698px;
                    width: 100%;
                    position: relative;
                    .header-search {
                        position: relative;
                        z-index: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f3f3f3;
                        border: 2px solid white;
                        border-radius: 5px;
                        transition: all ease 0.5s;
                        padding: 0px 5px;
                        .search-input {
                            width: 100%;
                            font-size: 14px;
                            color: #333;
                            background-color: #f3f3f3;
                            border: 2px solid transparent;
                            border-radius: 6px;
                            padding: 10px 40px 10px 15px;
                            box-sizing: border-box;
                            outline: none;
                            transition: all ease 0.3s;
                        }
                        .search-icon {
                            color: $main-color;
                          
                            font-size: 20px;
                        }
                        &:focus-within {
                            border: 2px solid $main-color;
                        }
                    }
                }
            }
        }
    }
}
