$white: #fff;
$list-text-color: #999;
$link-hover-color: #666;
$main-color: rgb(242, 122, 26);
$border: 1px solid #dedede;

$primary: #f27a1a;
$green: #0bc15c;
$red: #b30000;
$black: #333333;
$dark-gray: #666666;
$light-gray: #999999;
$border-gray: #e6e6e6;
$white: #ffffff;
$yellow: #ffc000;
$zero: #000000;

$space-small: 5px;
$space-medium: 10px;
$space-large: 15px;
$space-xlarge: 20px;

$bold: 600;
$regular: 400;

$font : "Source Sans Pro", sans-serif;
